<mat-toolbar color="white">
    <mat-toolbar-row class="menu">
        <img class="logo" src = "assets/img/logoCA.jpg" alt = "Logo CA Printf"/>
        <span>CA Printf</span>
        <span class="example-spacer"></span>
        <button mat-flat-button>Página Inicial</button> 
        <button mat-flat-button>Projetos</button> 
        <button mat-flat-button>Notícias</button> 
        <button mat-flat-button>Sobre</button>  
        <button mat-flat-button>Fale Conosco</button>                
        <button mat-raised-button color="primary">Entrar</button>
    </mat-toolbar-row>
</mat-toolbar>

<app-posts-list></app-posts-list>
